<!DOCTYPE html>
<html lang="en">
{% extends "core/base.html" %}

{% load static %}


{% block extra %}

{% endblock %}

{#{%  load widget_tweaks %}#}
{% block title %} Список блогов {% endblock %}

{% block page_title %} Список блогов {% endblock %}



{% block content %}


    <div>

    </div>
    {% for blog in object_list %}



        <div>
        <div>
            <div>Блог : <a href="{% url 'blogs:blog_details' pk=blog.id %}">{{ blog.title }}</a></div>
            <div>Описание : {{ blog.description }}</div>
        </div>
    {% endfor %}    </div>



    <div>
        <a href="{% url 'blogs:create_blog' %}"> Создать блог </a>
    </div>
    <a href="{% url 'home' %}">Home</a>
{% endblock %}


{% block footer %} {% endblock %}

{#{% block content %}#}
{#    <a href="{% url 'home' %}"><h3>Домашняя страница</h3></a>#}
{##}
{##}
{#{% endblock %}#}