{% extends 'core/base.html' %}

{% block title %}
    Пост "{{ post.title }}".
{% endblock %}

{% block page_title %}
    Пост "{{ post.title }}".
{% endblock %}

{% block content %}
    <a href="{% url 'blogs:blog_details' pk=post.blog.id %}">Блог: {{ post.blog.title }}</a>
    <div>Автор : {{ post.author }}</div>
    <article> {{ post.content }}</article>


    <div>Лайкнули:
        {% for like in post.likes.all %}
            {{ like.author }}
        {% endfor %}
    </div>

    <div><a href="{% url 'posts:update_post' pk=post.id %}"> Редактировать </a></div>

    {% for comment in post.comment_set.all %}
        <div style="border: dotted">
            <div> Комментарй № {{ comment.id }} </div>
            <div> {{ comment.text }}</div>
            <div>
                <small>Автор: {{ comment.author }}</small>
            </div>
        </div>
    {% endfor %}


    <form method="post" action="{% url 'posts:post_details' pk=post.id %}">
        {% csrf_token %}
        {% for field in form %}
            <div>{{ field.label }}</div>
            <div>{{ field }}</div>
            <div> {{ field.errors }}</div>{% endfor %}
        <input type="submit" value="create">
    </form>



{% endblock %}