{% extends 'core/base.html' %}

{% block title %}
    Пост "{{ object.title }}".
{% endblock %}

{% block page_title %}
    Пост "{{ object.title }}".
{% endblock %}

{% block content %}
    <a href="{% url 'blogs:blog_details' pk=post.blog.id %}">Блог: {{ post.blog.title }}</a>
    <div>Автор : {{ post.author }}</div>
    <article> {{ post.content }}</article>


    {% for like in post.likes.all %}
            {{ like.author }}
    {% endfor %}
    <div>Лайкнули: {{ post.likes.author }}</div>


    {% for comment in object.comment_set.all %}
        <div style="border: dotted">
            <div> Комментарй № {{ comment.id }} </div>
            <div> {{ comment.text }}</div>
            <div>
                <small>Автор: {{ comment.author }}</small>
            </div>
        </div>
    {% endfor %}

{% endblock %}